<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-3"></div>
    <div class="col-7">
        <form [formGroup]="eForm">
            <div class="form-group">
                <label for="exampleInputPassword1">Nombre</label>
                <input type="text" formControlName="nombre" class="form-control" id="exampleInputPassword1" placeholder="Nombre">
            </div>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-outline-primary" (click)="updateCargo()">Editar</button>
        </form>

        <div class="col-2"></div>
    </div>